<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.daolion.compro"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.daolion.DaoLionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
    >
        <activity android:name="com.daolion.activity.demo.sendanotation.MainActivity_"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.daolion.activity.demo.sendanotation.SecondActivity"/>

        <!-- 高德定位 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="abd0b42dbd3f398fdb4a9c95cae9f558"
            tools:replace="android:value"
        />

    </application>

</manifest>